<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>자기소개</h1>
        </div>
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est diam, porttitor et arcu at, vehicula
                sodales libero. Sed fermentum luctus dapibus. Proin lobortis ipsum eu lobortis luctus.
            </p>
        </div>

        <div class="col-md-12">
            <h3>수상경력</h3>
        </div>
        <div class="col-sd-12 col-md-3">
            <p>2017. 11. 10</p>
        </div>
        <div class="col-sd-12 col-md-9">
            <p>2017 창의적 종합설계 경진대회 한국여성공학기술인협회장상</p>
        </div>

        <div class="col-md-12">
            <h3>교육활동</h3>
        </div>
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est diam, porttitor et arcu at, vehicula
                sodales libero. Sed fermentum luctus dapibus. Proin lobortis ipsum eu lobortis luctus.
            </p>
        </div>

        <div class="col-md-12">
            <h3>관심분야</h3>
        </div>
        <div class="col-md-12">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce est diam, porttitor et arcu at, vehicula
                sodales libero. Sed fermentum luctus dapibus. Proin lobortis ipsum eu lobortis luctus.
            </p>
        </div>
    </div>
</section>
