<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>자기소개</h1>
        </div>
        <div class="col-sd-12 col-md-6"> 제주도 출생</div>
        <div class="col-sd-12 col-md-6"> - 1994. 06. 27</div>

        <div class="col-sd-12 col-md-6"> 대기고등학교 입학</div>
        <div class="col-sd-12 col-md-6"> - 2010. 03</div>

        <div class="col-sd-12 col-md-6"> 대기고등학교 졸업</div>
        <div class="col-sd-12 col-md-6"> - 2013. 02</div>

        <div class="col-sd-12 col-md-6"> 제주대학교 컴퓨터공학과 입학</div>
        <div class="col-sd-12 col-md-6"> - 2013. 03</div>

        <div class="col-sd-12 col-md-6"> 육군 9사단 소총수 입대</div>
        <div class="col-sd-12 col-md-6"> - 2014. 04. 29</div>

        <div class="col-sd-12 col-md-6"> 만기전역</div>
        <div class="col-sd-12 col-md-6"> - 2016. 01. 28</div>

        <div class="col-sd-12 col-md-6"> 제주대학교 복학</div>
        <div class="col-sd-12 col-md-6"> - 2016. 03</div>

        <div class="col-sd-12 col-md-6"> 제주대학교 졸업예정</div>
        <div class="col-sd-12 col-md-6"> - 2019. 02</div>


        <div class="col-md-12">
            <br></br>
            <h4>수상경력</h4>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> Kakao 장학금 수여</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 02. 26</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2017 창의적 종합설계 경진대회 한국여성공학기술인협회장상</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 11. 10</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2017 컴퓨터공학과 작품전시회 장려상</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 11. 11</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2017 캡스톤디자인 경진대회 장려상</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 11. 24</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2017 캡스톤디자인 경진대회 우수상</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 11. 24</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2018 고등학생 공학아카데미 우수멘토상</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 07. 26</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> The Sixth International Students Joint Capstone Design Competition 장려상</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 08. 26</p>
        </div>


        <div class="col-md-12">
            <br></br>
            <h4>교육활동 & 참가활동</h4>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 제주대학교 컴퓨터공학과 차세대통신망 연구실</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2016. 12. ~ </p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2017 HIJK가 함께하는 창의캠프</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 06. 28 ~ 2017. 06. 30</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 사물인터넷과 코딩 수료</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 08. 09 ~ 2017. 08. 11</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 아두이노 - 드론 창의 인재 아카데미 수료</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 08. 17 ~ 2017. 08. 19</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 스마트관광 ICT 융합 기술코스 & 디자인코스 수료</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 09    ~ 2017. 12</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> SW개발자를 위한 멀티디바이스 UI/UX 수료</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 09. 08 ~ 2017. 09. 17</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> KT 스마트관광 빅데이터 과정 수료</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 09. 22 ~ 2017. 09. 28</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2017 공학페스티벌 참가</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 11. 09 ~ 2017. 11. 10</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2017 TBM 창업캠프 참가</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2017. 11. 24 ~ 2017. 11. 26</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> Kakao 학과연계 현장실습</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 01. 03 ~ 2017. 01. 31</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> International Capstone D-CAMP 참가</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 02. 05 ~ 2017. 02. 09</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 안드로이드 중급 교육 참가</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 07. 10 ~ 2017. 07. 14</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 2018고등학생 공학 아카데미</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 07. 23 ~ 2017. 07. 26</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> International Capstone Competition 참가</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 08. 21 ~ 2017. 08. 26</p>
        </div>

        <div class="col-sd-12 col-md-6">
            <p> 스마트관광 창의캠프 참가</p>
        </div>
        <div class="col-sd-12 col-md-6">
            <p> - 2018. 09. 14 ~ 2017. 09. 16</p>
        </div>

        <div class="col-md-12">
            <br></br>
            <h4>관심분야</h4>
        </div>
        <div class="col-md-12">
            <ul>
              <li> Java </li>
              <li> Kotlin</li>
              <li> Android </li>
              <li> RxJava </li>
            </ul>
        </div>
    </div>
</section>
