<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>프로젝트</h1>
        </div>

        <h4>집안꼴이 이게뭐니?</h4>
        <div class="col-sd-12 col-md-2">
            <img src="./web-dist/images/homemanager.png" width="300" height="300">
        </div>
        <div class="col-sd-12 col-md-10">
            <p> 제작기간 : 2017. 06 ~ 2017. 08</p>
            <p> 소개 : 자취생을 위한 빨래, 청소, 냉장고 관리를 위한 notification 알림 앱</p>
            <p> 기여도 : 앱의 90%</p>
            <p> 기능 : </p>
            <ul>
              <li> navigation을 이용하여 빨래, 청소, 냉장고의 스케쥴을 관리하는 Fragment에 접근</li>
              <li> 설정하는 각 스케쥴마다 경고기간을 넣어 '보통,경고,시급'으로 등급을 나누어 각각의 페이저에 리스트로 표시를 해줌</li>
              <li> notification에 경고, 시급 등급의 스케쥴 갯수를 표시하고 클릭 시 액티비티가 켜짐</li>
              <li> 리스트의 한 아이탬을 swipe할 시 재갱신버튼과 삭제버튼이 나타나고 재갱신을 할 시 기존의 정보를 통해 새로운 일자가 들어감</li>
              <li> broadcastReceiver를 이용하여 화면이 켜질 때 날자변경 감지 및 notification 갱신</li>
            </ul>
            <p> 사용라이브러리 : SwipeableRecyclerView</p>
            <p> 성과 : Fragment의 사용방법 습득, AdapterView의 사용방법 습득, Sqlite의 사용방법 습득</p>
        </div>

        <h4>집안꼴이 이게뭐니?</h4>
        <img src="./web-dist/images/homemanager.png" class="col-sd-12 col-md-2" width="300" height="300">
        <div class="col-sd-12 col-md-10">
            <p> 제작기간 : 2017. 06 ~ 2017. 08</p>
            <p> 소개 : 자취생을 위한 빨래, 청소, 냉장고 관리를 위한 notification 알림 앱</p>
            <p> 기여도 : 앱의 90%</p>
            <p> 기능 : </p>
            <ul>
              <li> navigation을 이용하여 빨래, 청소, 냉장고의 스케쥴을 관리하는 Fragment에 접근</li>
              <li> 설정하는 각 스케쥴마다 경고기간을 넣어 '보통,경고,시급'으로 등급을 나누어 각각의 페이저에 리스트로 표시를 해줌</li>
              <li> notification에 경고, 시급 등급의 스케쥴 갯수를 표시하고 클릭 시 액티비티가 켜짐</li>
              <li> 리스트의 한 아이탬을 swipe할 시 재갱신버튼과 삭제버튼이 나타나고 재갱신을 할 시 기존의 정보를 통해 새로운 일자가 들어감</li>
              <li> broadcastReceiver를 이용하여 화면이 켜질 때 날자변경 감지 및 notification 갱신</li>
            </ul>
            <p> 사용라이브러리 : SwipeableRecyclerView</p>
            <p> 성과 : Fragment의 사용방법 습득, AdapterView의 사용방법 습득, Sqlite의 사용방법 습득</p>
        </div>

        <h4>집안꼴이 이게뭐니?</h4>
        <img src="./web-dist/images/homemanager.png" class="col-sd-12 col-md-2" >
        <div class="col-sd-12 col-md-10">
            <p> 제작기간 : 2017. 06 ~ 2017. 08</p>
            <p> 소개 : 자취생을 위한 빨래, 청소, 냉장고 관리를 위한 notification 알림 앱</p>
            <p> 기여도 : 앱의 90%</p>
            <p> 기능 : </p>
            <ul>
              <li> navigation을 이용하여 빨래, 청소, 냉장고의 스케쥴을 관리하는 Fragment에 접근</li>
              <li> 설정하는 각 스케쥴마다 경고기간을 넣어 '보통,경고,시급'으로 등급을 나누어 각각의 페이저에 리스트로 표시를 해줌</li>
              <li> notification에 경고, 시급 등급의 스케쥴 갯수를 표시하고 클릭 시 액티비티가 켜짐</li>
              <li> 리스트의 한 아이탬을 swipe할 시 재갱신버튼과 삭제버튼이 나타나고 재갱신을 할 시 기존의 정보를 통해 새로운 일자가 들어감</li>
              <li> broadcastReceiver를 이용하여 화면이 켜질 때 날자변경 감지 및 notification 갱신</li>
            </ul>
            <p> 사용라이브러리 : SwipeableRecyclerView</p>
            <p> 성과 : Fragment의 사용방법 습득, AdapterView의 사용방법 습득, Sqlite의 사용방법 습득</p>
        </div>
    </div>
</section>
