<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>프로젝트</h1>
        </div>
        <img src="./web-dist/images/homemanager.png" class="container-top-image img-circle m-x-auto" alt="{{ site.brand }}">
        <div class="col-sd-12 col-md-2">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->

        </div>
        <div class="col-sd-12 col-md-10">
            <p> 제작기간 : 2017. 06 ~ 2017. 08</p>
            <p> 소개 : 자취생을 위한 빨래, 청소, 냉장고 관리를 위한 notification 알림 앱으로 지정한 날자에 따라 알림이 뜨고 리스트아이템 swipe 조작으로 재갱신등을 편하게 하였습니다.</p>
            <p> 사용 : </p>
        </div>
    </div>
</section>
