<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
          <br></br>
          <h1>프로젝트</h1>
        </div>

        <div class="col-md-12">
            <br></br>
            <h4> VOIPOT</h4>
        </div>
        <img src="./web-dist/images/voipot.png" class="col-sd-12 col-md-2" >
        <div class="col-sd-12 col-md-10">
            <a href="https://github.com/JNU-tong">github</a>
            <p> 소개 : 패키지 관광중 가이드와 관광객의 커뮤니케이션을 원활히 할 수 있도록 도와주는 앱</p>
            <p> 제작기간 : 2018. 07 ~ </p>
            <p> 역할 : 안드로이드 앱 파트를 맡았으며, 디자인 1명, 중국어 번역 및 기획 2명 총 4명이 팀을 이루었습니다.</p>
            <p> 기능 </p>
            <ul>
              <li> 핫스팟을 이용한 UDP소켓 통신으로 가이드앱에서 목소리를 관광객 앱쪽으로 녹음과 동시에 전달</li>
              <li> 가이드앱에서 작성한 스케줄이 변경시 관광객앱쪽으로 데이터를 보내어 업데이트</li>
              <li> 가이드와 관광객들의 전체 단톡방을 구현하여 채팅가능</li>
              <li> SharedPreference를 이용하여 로그인정보 기억하여 로그인 유지</li>
              <li> Sqlite를 이용하여 메시지, 스케줄 데이터 저장</li>
              <li> IntentService를 이용한 데이터 receive작업과 LocalBroadCastReceiver를 이용하여 데이터 전송</li>
              <li> poi라이브러리를 이용하여 스케줄이 작성된 엑셀파일 읽어올 수 있음</li>
            </ul>
            <p> 사용라이브러리 : StickyHeaderRecyclerView </p>
            <p> 배운점 : Kotlin을 이용하여 제작한 앱입니다, map,  filter등의 스트림함수와 apply, run등의 범위지정 함수, ? ,!! 을 이용한 널체크, by lazy를 이용한 지연 초기화 등을 사용하는 방법을 배웠습니다. </p>
        </div>

        <div class="col-md-12">
            <br></br>
            <h4> 제대로통한다</h4>
        </div>
        <img src="./web-dist/images/jnu-tong.png" class="col-sd-12 col-md-2" >
        <div class="col-sd-12 col-md-10">
            <a href="https://github.com/JNU-tong">github</a>
            <p> 소개 : 제주대학교 교내 셔틀버스와 학교에서 출발하는 시내버스 정보를 보여주는 앱</p>
            <p> 제작기간 : 2018. 03 ~ 2018. 06</p>
            <p> 역할 : 안드로이드 앱 파트를 맡았으며, 디자인 2명, IOS앱파트 1명, 서버파트 1명 총 5명이 팀을 이루었습니다.</p>
            <p> 기능 </p>
            <ul>
              <li> Trasition을 이용한 리스트가 펼쳐지고 닫히는 애니메이션 효과</li>
              <li> 교내 셔틀버스의 현재위치를 뷰페이저로 이미지롤 보여줌</li>
              <li> 시내버스의 시간표와 노선정보를 Recycler뷰와 페이저를 이용하여 보여줌</li>
              <li> SharedPreference를 이용하여 자주타는 버스정보를 저장함</li>
              <li> 교내 행사정보를 서버에서 얻어와 D-day로 표시</li>
            </ul>
            <p> 사용라이브러리 : StickyHeaderRecyclerView </p>
            <p> 배운점 : MVC,MVP,MVVM 패턴의 이해, Animation의 이해</p>
        </div>

        <div class="col-md-12">
            <br></br>
            <h4> 스마트힐링투어</h4>
        </div>
        <img src="./web-dist/images/smarth.jpeg" class="col-sd-12 col-md-2" >
        <div class="col-sd-12 col-md-10">
            <a href="https://bitbucket.org/smarthealingtour/android/src/master/">bitbucket</a>
            <p> 소개 : 제주도 관광상품을 직접 만들고 즐겨찾기한 상품내부의 스케쥴을 바꿀 수 있는 앱</p>
            <p> 기업체에 제작한 앱을 인수받아 유지보수를 하였습니다.</p>
            <p> 유지보수기간 : 2017. 07 ~ 2018. 06</p>
            <p> 역할 : 앱과 서버의 유지보수를 맡았으며 디자인 1명, 개발보조 1명, 기획 및 서버데이터관리 4명으로 총 7명으로 팀을 이루었습니다.</p>
            <p> 기능 </p>
            <ul>
              <li> 서버에 있는 제주도의 모든 관광지 및 음식점, 숙박시설 데이터를 이용하여 관광상품 제작가능.</li>
              <li> 만들어져 있는 상품을 가져와 원하는 스케쥴을 삽입 및 수정가능.</li>
              <li> 자신이 만든 상품을 다른 사용자에게 공유 및 리뷰가능.</li>
              <li> 제주도의 모든 관광지의 대한 정보를 RecyclerView로 제공</li>
              <li> 제주도의 음식점, 숙박시설의 대한 정보를 RecyclerView로 제공</li>
              <li> 관광상품 및 관광지, 음식점, 숙박시설의 위치를 지도에 표시</li>
              <li> VR sdk를 이용하여 드론을 이용하여 찍은 관광지 동영상의 모습을 보여줌(예정)</li>
            </ul>
            <p> 사용라이브러리 및 기술: Kakao Login, Google Map, google VR, DraagableRecyclerView, Glide, Tedpermission, Mysql, tomcat, mybatis</p>
            <p> 배운점 : AsyncTask를 이용한 서버와의 데이터통신 이해, CustomView의 이해, Viewholder패턴의 이해, Callback의 이해, 유지보수를 통한 코드분석능력 향상</p>
            <p> 성과 : 한국산업기술진흥원에서 주관하는 2017 공학페스티벌 참가하여 한국여성공학기술인협회장상을 수상하였습니다.</p>
        </div>

        <div class="col-md-12">
            <br></br>
            <h4> GPS(Good Price Shop)</h4>
        </div>
        <img src="./web-dist/images/gps.jpeg" class="col-sd-12 col-md-2" >
        <div class="col-sd-12 col-md-10">
            <a href="https://bitbucket.org/wjdals30531/capstone_design_iljo/src/master">bitbucket</a>
            <p> 소개 : 지자체에서 제공하는 착한가격업소 API를 이용하여 정보를 제공하는 앱.</p>
            <p> 제작기간 : 2017. 11 ~ 2017. 12</p>
            <p> 역할 : 앱의 UI 및 지도부분을 맡았습니다. 디자인 1명, 개발보조 1명, 데이터관리 1명 총 4명이서 팀을 이루었습니다.</p>
            <p> 기능 </p>
            <ul>
              <li> 사용자 위치정보를 이용하여 설정한 반경내의 착한가격업소를 지도에 보여줌</li>
              <li> 카테고리별로 착한가격업소를 리스트로 보여줌</li>
              <li> 전화번호 정보를 이용하여 바로 전화앱을 켜서 전화가능</li>
            </ul>
            <p> 사용라이브러리 : Google Map</p>
            <p> 배운점 : Fragment의 사용방법 습득, AdapterView의 사용방법 습득, Sqlite의 사용방법 습득</p>
        </div>

        <div class="col-md-12">
            <br></br>
            <h4> 밥pool</h4>
        </div>
        <img src="./web-dist/images/bobpool.jpeg" class="col-sd-12 col-md-2" >
        <div class="col-sd-12 col-md-10">
            <a href="https://github.com/bobpool">github</a>
            <p> 소개 : 같은 아파트단지 또는 지역 내 익명의 사람들과 음식점에 배달을 요청하는 앱. 1인분의 배달의 경우 배달을 잘 해주지 않아 만들게 된 앱입니다.</p>
            <p> 제작기간 : 2018. 01 ~ 2018. 01</p>
            <p> 역할 : 안드로이드 앱파트를 맡았으며, IOS앱 파트 1명, 서버파트 1명 총 3명이 팀을 이루었습니다.</p>
            <p> Kakao 멘토님의 코드리뷰와 조언을 받으면서프로젝트를 진행하였습니다.</p>
            <p> 기능 </p>
            <ul>
              <li> 두 개의 주소값을 받아 배달위치를 선택할 수 있게 함.</li>
              <li> 다른 사람들이 주문한 음식점을 리스트로 보여주어 음식점 선택에 고민이 깊은 사람에게 도움.</li>
              <li> 주문 후 다른 사람이 주문신청을 완료하면 카카오페이를 이용한 계산 후 배달이 됩니다.</li>
            </ul>
            <p> 사용라이브러리 : Kakao Login, Kakao Pay, Daum 주소 API</p>
            <p> 배운점 : Strategy패턴, Factory 패턴, </p>
        </div>

        <div class="col-md-12">
            <br></br>
            <h4> 집안꼴이 이게뭐니?</h4>
        </div>
        <img src="./web-dist/images/homemanager.png" class="col-sd-12 col-md-2" >
        <div class="col-sd-12 col-md-10">
            <a href="https://github.com/seung-yeol/homemanagerapp">github</a>
            <p> 소개 : 자취생을 위한 빨래, 청소, 냉장고 관리를 위한 notification 알림 앱</p>
            <p> 제작기간 : 2017. 06 ~ 2017. 08</p>
            <p> 역할 : 앱의 모든부분을 관리하였고 , 디자인 1명, 개발보조 2명로 총 4명으로 팀을 이루었습니다.</p>
            <p> 기능 </p>
            <ul>
              <li> navigation을 이용하여 빨래, 청소, 냉장고의 스케쥴을 관리하는 Fragment에 접근</li>
              <li> 설정하는 각 스케쥴마다 경고기간을 넣어 '보통,경고,시급'으로 등급을 나누어 각각의 페이저에 리스트로 표시를 해줌</li>
              <li> notification에 경고, 시급 등급의 스케쥴 갯수를 표시하고 클릭 시 앱이 켜짐</li>
              <li> 리스트의 한 아이탬을 swipe할 시 재갱신버튼과 삭제버튼이 나타나고 재갱신을 할 시 기존의 정보를 통해 새로운 일자가 들어감</li>
              <li> broadcastReceiver를 이용하여 화면이 켜질 때 날자변경 감지 및 notification 갱신</li>
            </ul>
            <p> 사용라이브러리 : SwipeableRecyclerView</p>
            <p> 배운점 : Fragment의 사용방법 습득, AdapterView의 사용방법 습득, Sqlite의 사용방법 습득</p>
        </div>
    </div>
</section>
